.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: crimson;
    color: wheat;
}

.header__dropdown {
    width: 150px;
    color: wheat;
}

.MuiSelect-outlined.MuiSelect-outlined {
    color: wheat
}

.header__select {
    border: 2px solid wheat;
}