.table tr:nth-of-type(odd) {
    background-color: rgb(221, 217, 217);
}

.table {
    margin-top: 20px;
    overflow: scroll;
    height: 50vh;
}

td {
    padding: 5px;
}

tr {
    display: flex;
    justify-content: space-between;
}